body {
  background-color: rgb(109, 109, 109);
  
}

.App {
  text-align: center;
  
}

.card {
  position: relative;
  width: 30%;
  height: 70%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 1%;
  background-size: cover;
  /* box-shadow: 5px 10px 5px 10px rgb(15, 5, 5); */
  padding: 40px;
}

.card::after {
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./city.jfif');
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 12px;

}

.title {
  color: rgb(245, 245, 245);
  font-weight: 800;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.596);
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  
}

.search-form {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form input {
  width: 70%;
  height: 40px;
  padding: 5px;
  background: rgb(0, 0, 0);
  color: rgb(202, 10, 10);
  border-radius: 10px;
  /* margin: 0 auto; */
}

.search-form button {
  width: 18%;
  height: 50px;
  padding: 5px;
  border: none;
  border-radius: 10px !important;
  background: linear-gradient(45deg, #eb3349 30%, #f45c43 90%);
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.search-form button:hover {
  color: black;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.308) 30%,
    rgba(128, 128, 128, 0.295) 90%
  );
}
