#wrapper {
    background-color: grey;
    display: flex;
    flex-direction: row;
}

#top-content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;

}

.menu {
    color: red;
}

.inleiding {
    font-style: italic;
}

#menukaart {
    display: flex;
    flex-direction: row;

}