.card{
    /* position: relative; */
    border-radius: 10px;
    width: 350px;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 1%;
    background: url(./sky.jfif);
    background-size: cover;
    padding: 20px;
  }
  
  .title{
    color: black;
    font-weight: 800;
    font-size: 20px;
  }
  .main-container{
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 30px;
  }
  .main-container h4{
    font-size: 25px;
    font-weight: 800;
  }
  .temp{
    background-color: rgba(33, 150, 150, 0.411);
    padding: 5px;
    position: relative;
  }
  
  .temp img {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .weather__icon {
    display: inline-block;
  background-color: #2585d800;
  height: 100px;
  width: 100px;
  font-size: 1px;
  padding: 1px;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  animation: rotateY 2s infinite;
  transform: rotateY(20deg);
  animation-direction: alternate;
  opacity: 0.8;
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

  