* {
    font-family: 'Lobster', cursive; 
    padding: 0;
    margin: 0;
    
    
}

body {
  background-color: rgb(95, 78, 78);
}

/* Navigatie bar */

.navigatie .nav_text {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(173, 169, 169);
  }
  
  .navigatie li {
    float: right;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .navigatie li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
  }

  /* Banner */

    .banner {
      position: relative;
      background-color: black;
  }
    .banner img {
        opacity: 0.5;

    }

    .banner_content {
      position: absolute;
      top: 80px;
      left: 56%;
  }

  .banner_title {
      font-size: 50px;
      color: rgb(85, 144, 253);
  }

  .banner_tekst {
      color:rgb(85, 144, 253);
  }

  .button {
      margin-top: 15px;
  }


 .button1, .button2 {
     border: solid 1px rgb(104, 245, 104);
     padding: 5px 35px;
     font-size: 13px; 
     text-decoration: none;
     
     
 }

 .button1 {
    color:rgb(85, 144, 253);
 }

 .button2 {
     margin-left: 15px;
     color: rgb(104, 245, 104);
 }

 /* Populaire gerechten */
 .populair_title {
   margin-top: 15px;
   text-align: center;
   font-size: 60px;
   padding: 0;
   margin: 0;
   
 }

 .populair {
  overflow: hidden; 
  display: flex;
   margin-top: 20px;
   background-color: rgb(95, 78, 78);
   width: 100%;
   
   
 }

 .populair_pasta {
   width: 250px;
   margin-left: 180px;
   
   
 }

 .pasta_combo {
   display: flex;
   justify-content: space-between;
 }

 .show {
   float: right;
 }

 /* Menukaart */

 .titelprice {
   display: flex;
   justify-content: space-between;
 }

 #menukaart {
  display: flex;
}

#menukaart img {
  margin-left: 50px;
}

#menukaart .containermenu {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin:10px;
  padding: 10px;
  justify-content: center;
}

#menukaart .box {
  width: 300px;
  margin: 10px;
}

/* FOOTER */

#footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(158, 255, 158);
  align-items: center;
  height: 200px;
  color: rgb(118, 118, 248);
}

#footer .contact h3, .icons {
  margin: 10px 0px;
}
  
#footer .navigationfooter {
  margin-top: -42px;

}

#footer .navigationfooter ul, .navigationfooter a {
  list-style: none;
  text-decoration: none;
  color: rgb(118, 118, 248);

}

#footer .navigationfooter h3 {
  margin: 10px 0px;
}