* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Menubar */

.menu-bar {
    background: rgb(71, 70, 70);
    text-align: center;
    border: solid 3px black;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: rgb(31, 31, 32);
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
    z-index: 1;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;  
}

.active, .menu-bar ul li:hover {
    background: rgb(41, 41, 43);
    border-radius: 3px;
}

.sub-menu-1 {
    display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: rgb(24, 21, 21);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
   display: block;
   margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}


/* Banner content */

.banner {
   position: relative; 
}



.banner_content {
    position: absolute;
    top: 200px;
    left: 200px;
    background: rgb(71, 70, 70);
    color: white;  
    border: solid 3px black;
}

.banner_content:hover {
    font-size: 120%;
}


