// .vierkant {
//     background-color: black;
//     height: (300px / 5);
//     width: (240px / 4);
        
// }

.vierkant {
    background-color: black;
    height: (30px / 5px);
    width: (24px/ 4);
        
}