@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
/* color rgba(51,133,217,255) */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Mega', sans-serif;
  scroll-behavior: smooth;
  /* overflow:hidden; */
}

/* Navbar */
nav{
  background: #ffffff;
  padding: 5px 40px;
}

nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #000000;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: rgba(0, 0, 0, 0.274);
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: rgba(51,133,217,255);
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 1px;
    box-shadow: inset 0 0 5px #000000,
                inset 0 0 10px #000000;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}
/* Navbar End */

/* Main content */
#hero_page {
    background-image: url(./images/tower_bg-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 650px;
}

#hero__typer {
    margin-left: 70px;
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    color: rgba(51,133,217,255);
}
 

#hero__banner {
    display: flex;
    height: 150px; 
    
}

.hero__textcontent {
   height: auto; 
   font-size: 15px;
   margin-left: 70px;
   opacity: 0;
   animation: ani2 0.5s ease-out forwards;
}

.hero__textcontent p{
    opacity: 0;
    margin: 0;
    animation: ani2 0.75s ease-out 4.6s forwards;
}

.hero__textcontent span:hover {
    background-color:black;
    color: white;
}

#hero__button{
  text-align: center;
  margin-top:350px;
  
}
#hero__button a {
  text-decoration: none;
}

#hero__button span{
  padding: 5px 5px;
  border-bottom: solid 3px rgba(51,133,217,255);
  text-decoration: none;
  color: black;
  
}

.hero__display span:target {
  
  color: black;
  text-decoration: none;
}
/* Hero hover */
/* .hero__textcontent :hover {
    background-color: black;
    color: white;
} */

@keyframes ani2{
    100%{
        opacity: 1;
    }
}

.aboutme__section{
  margin-top: -50px;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(255, 255, 255);
  /* margin-left: auto;
  margin-right: auto; */
  
}

.aboutme__content {
  width: 90%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.aboutme__img {
  display: flex;
  background-image: url(./images/Albayrak_white.jpeg);
  height: 100%;
  width: 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutme__img:hover {
  background-image: url(./images/Albayrak_color.jpeg);
}

.aboutme__text {
  display: flex;
  padding: 20px;
  height: 100%;
  width: 40%;
  color: rgb(0, 0, 0);
}

/* ABOUT ME CARD SART----------------------------------------------- */

.aboutme__card {
    margin-top: 10px;
    display: flex;
    height: 50%;
    width: 19%;
    transform-style: preserve-3d;
    perspective: 1000px;
    
}

.aboutme__card:hover > .back-face {
    transform: rotateY(0deg);

}

.aboutme__card:hover > .front-face {
    transform: rotateY(-180deg);
}

.front-face,
.contents, .back-face{
    position: absolute;
}

.contents {
    left: 0;
    top: 30%;
    width: 100%;
    perspective: 100px;
    transform: translateY(-50%) translateZ(60px) scale(.94);

}

/* Front of the card */

.front-face {
  height: 100%;
  width: 100%;
  text-align: center;
  background: url(./images/mountain-top.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform .7s cubic-bezier(.4, .2, .2, 1);

}
.front-face p:after {
    content: '';
    display: block;
    left: 0;
    right: 0;
    height: 3px;
    width: 70%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22px;
    
}
.front h2{
    font-family: 'Red Rose', cursive;
    color: rgb(0, 0, 0);
    font-size: 29px;
}

.front p{
    /* background-color:white; */
    font-family: 'Red Rose', bold;
    color: rgb(0, 0, 0);
    font-size: 13px;
    /* margin-bottom: 15px; */
    
}
/* back of the card */

.back-face {
  height: 100%;
  width: 100%;
  text-align: center;
  background: red;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform .7s cubic-bezier(.4, .2, .2, 1);
  transform: rotateY(180deg);
}

.back-face h2 {
    font-family: 'Red Rose', cursive;
    color: rgb(31, 41, 133);
    font-size:33px;
    padding-bottom: 5px;
}

.back-face span {
    font-family: 'Red Rose', cursive;
    color: rgb(31, 37, 114);
    font-size: 25px;
}

/* ABOUT ME CARD END ----------------------------------------------- */