// body background-color
$body_bgcolor: rgb(95, 78, 78);

// nav background-color
$nav_bgcolor: rgb(173, 169, 169);
$nav_color: rgb(0, 0, 0);

// banner background-color
$ban_bgcolor: rgb(0, 0, 0);
$ban_color: rgb(85, 144, 253);

// button
$button_border: rgb(104, 245, 104);

// populair dishes
$populair_bgcolor: rgb(95, 78, 78);

// footer
$footer_bgcolor: rgb(158, 255, 158);
$footer_color: rgb(118, 118, 248)
